replacements:
- from: "Unknown command. Type \"help\" for help."
  to: "Replaced message by MessageReplacer!"
- from: "(.*) joined the game"
  to: "&aWelcome, &e$1"
  type: "regex"
- from: "fuck"
  to: "love"
  scope: all
